* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
    background-color: brown;
}

h1 {
    font-size: 3rem;
}

body{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: grid;
    grid-template-columns: repeat(auto);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

p {
    font-size: large;
    border: 2px black;
}

#search, #movie, #release, #categories, #score, #streaming {
    padding: 1rem;
    border-radius: 1rem;
    background-color: antiquewhite;
    color: rgb(145, 20, 8);
    font-size: large;
    text-align: center;
}

#send, #close, #movieForm, #sendSearch {
    background-color: green;
    padding: 1rem;
    border-radius: 1rem;
    font-size: large;
}

#send:hover, #close:hover, #movieForm:hover, #sendSearch:hover {
    cursor: pointer;
    background-color: antiquewhite;
    color: rgb(145, 20, 8);
}

#form {
    display: none;
    grid-template-columns: repeat(1, auto);
    gap: 1rem;
}

#database {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-content: center;
    gap: 1rem;
    border:black;
}

@media screen and (max-width: 600px) {
    #database {
        grid-template-columns: repeat(1, auto);
    }
    
}